@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main { flex: 1; }
